<div class="user-information-container">
    <turbo-frame id="profile-picture-frame">
        <% if @user.profile_picture.attached? %>
            <%= link_to image_tag(@user.profile_picture, alt: "Profile"), edit_user_path(@user) %>
        <% else %>
            <%= link_to image_tag("profile_icon", alt: "Profile"), edit_user_path(@user) %>
        <% end %>
    </turbo-frame>

    <turbo-frame id="user-information-frame">
        <div class="inner-information">
            <% if @user.id == current_user.id %>
                <%= link_to "Edit", edit_user_user_information_path(@user) %>
            <% end %>
            <div class="information">
                <div>Email:</div>
                <div><%= @user.email %></div>
            </div>
            <div class="information">
                <div>First Name:</div>
                <div><%= @user.user_information.first_name %></div>
            </div>
            <div class="information">
                <div>Last Name:</div>
                <div><%= @user.user_information.last_name %></div>
            </div>
        </div>
    </turbo-frame>
</div>
    
<div class="posts-container user-posts-container">
    <div class="header">My Posts</div>
    <% @posts.each do |post| %>
        <div class="post">
            <%= render "posts/post", post: post %>
        </div>
    <% end %>
</div>