<div class="user-information-container">
    <!--<div class="header">My Information</div>-->
    <div class="profile-picture">
        <%= render "profile_picture", user: @user %>
    </div>
    <div class="inner-information">
        <div class="information">
            <div>Email:</div>
            <div><%= @user.email %></div>
        </div>
        <div class="information">
            <div>First Name:</div>
            <div><%= @user.user_information.first_name %></div>
        </div>
        <div class="information">
            <div>Last Name:</div>
            <div><%= @user.user_information.last_name %></div>
        </div>
    </div>
</div>
    
<div class="posts-container user-posts-container">
    <div class="header">My Posts</div>
    <% @posts.each do |post| %>
        <div class="post">
            <%= render "posts/post", post: post %>
        </div>
    <% end %>
</div>