<div class="post-heading">
    <div class="author-name"><%= post.user.display_name %></div>
    <div class="create-date"><%= Date.parse(post.created_at.to_s, '%m-%d-%Y') %></div>
    
    <div class="post-likes">
        <%= render "likes/like", post: post %>
    </div>
</div>

<div class="body-container">
    <% if post.image.attached? %>
        <div class="post-image">
            <%= image_tag(post.image, alt: "Post Image") %>
        </div>
    <% end %>
    <%= post.body %>
</div>

<div class="comments-container" id=<%= "comment-container_#{post.id}" %>>
    <div class="comment-label">Comments:</div>
    <% post.comments.each do |comment| %>
        <%= render "comments/comment", comment: comment %>
    <% end %>
</div>