<div class="post-heading">
    <div class="author-name"><%= post.user.display_name %></div>
    <div class="create-date"><%= Date.parse(post.created_at.to_s, '%m-%d-%Y') %></div>
    <div class="post-likes"><%= image_tag("thumb_up", alt: "Like Post") %></div>
</div>

<div class="body-container">
    <%= post.body %>
</div>

<div class="comments-container">
    <div class="comment-label">Comments:</div>
    <!-- Not sure if I need to be eagar loading here... Will come back in the future-->
    <% post.comments.includes(user: :user_information).each do |comment| %>
        <div class="comment">
            <div class="comment-header">
                <%= comment.user.display_name %>
            </div>
            <div class="comment-body">
                <%= comment.body %>
            </div>
        </div>
    <% end %>
</div>