<div class="post-heading">
    <div class="author-name"><%= link_to post.user.display_name, user_path(post.user) %></div>
    <div class="create-date"><%= Date.parse(post.created_at.to_s, '%m-%d-%Y') %></div>
    
    <div class="post-likes">
        <%= render "likes/like", post: post %>
    </div>
</div>

<div class="body-container">
    <% if post.image.attached? %>
        <%= image_tag(post.image, alt: "Post Image") %>
    <% end %>
    <% unless post.body == "" %>
        <div class="post-body"><%= post.body %></div>
    <% end %>
</div>

<div class="comments-container" id=<%= "comment-container_#{post.id}" %>>
    <% post.comments.each do |comment| %>
        <%= render "comments/comment", comment: comment %>
    <% end %>
</div>