<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :stylesheets %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="nav-bar">
        <div class="logo">
          <%= link_to image_tag("gem", alt: "Gem"), root_path %>
        </div>

        <div class="friends-container">
          <!-- SVG and number of notifications -->
          <div class="friend-invitations">
            <%= image_tag("friend_icon", alt: "Friend Icon") %>
            <div class="friend_invitations_count"><%= current_user.friend_invitations_count %></div>
          </div>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
