<turbo-frame id="user-information-frame">
    <%= form_with model: [:user, @user_information], html: { class: "inner-information" } do |form| %>
        <div class="information field">
            <%= form.label :first_name, "First Name:" %>
            <%= form.text_field :first_name %>
        </div>

        <div class="information field">
            <%= form.label :last_name, "Last Name:" %>
            <%= form.text_field :last_name %>
        </div>

        <%= form.submit "Update" %>
    <% end %>
</turbo-frame>